/* html, #bad {
  min-width: 950px;
} */

body {
  background-image: url("./kaiserstuhl.jpg");
   background-size: cover;
   background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  font-family: arial;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

ul {
  background-color: rgba(175, 200, 200, 0.5);
  padding: 0;
  margin: 0;
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
}

li {
  width: 33.3%;
  height: 100%;
  line-height: 3.2;
  text-align: center;
}

li:hover {
  background-color: rgba(175, 200, 200, 1);
}

div {
  width: 33.3%;
  height: 100px;
  white-space:nowrap;
  text-align: center;
}

#bad {
  
  width: 100vw;
  position: absolute;
  top: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}
